@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Marck+Script&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding:0px;
  margin:0px;
  font-family: "Popppins", sans-serif;
  list-style:none;
  text-decoration:none;
}
:root{
  --brown:#a23636;
  --dark:#1e1e1e;
  --white: #ffffff;
}

.nav-menu{
  background: var(--white);
}
.nav-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width:100%;
  background: var(--white);
  transition: all 0.5s;
  position:fixed;
}
.logo{
  color: var(--brown);
  font-weight: 600;
  font-size:1.7rem;
}

.logo span{
  color: var(--dark);
}

.nav-header ul{
  display:flex;
  align-items: center;
  gap: 5rem;
}

.nav-header ul li a{
  color: var(--dark);
  font-size:17px;
  font-weight: 500;
  transition: all 0.5s;
}

.nav-header ul li a:hover{
  color: var(--brown);
}

.nav-header i{
  cursor:pointer;
  font-size:1.5rem;
  transition: all 0.25s;
}

.nav-header i:hover{
  color: var(--brown);
}

/* MENU BAR */
.menu{
  cursor:pointer;
  display:none;
}
.menu .bar{
  display: block;
  width:25px;
  height:3px;
  border-radius:3px;
  background: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
  background: var(--brown);
}

/* BANNER HOME */
.home{
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 400px 10%;
}

.home-text{
  max-width: 37rem;
}

.home-text .text-h4{
  font-size:1.5rem;
  color:var(--brown);
  margin-bottom: 1rem;
}

.home-text .text-h1{
  font-size:4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  color:var(--dark);
}
.home-text{
  margin-bottom: 4rem;
  color:var(--dark);
}

.home-text p{
  margin-bottom: 4rem;
}
.click{
  padding: 15px 45px;
  background:var(--brown);
  color:var(--white);
  border-radius: 10px;
  font-weight:500;
  transition: all 0.5s;
}

.click:hover{
  color:var(--brown);
  background: var(--white);
  border: 1px solid var(--brown);
}

.home-img{
  width:100%;
}

@media(max-width:785px){
  .nav-header{
    padding: 18px 20px;
  }
  .menu{
    display: block;
  }
  .menu.ativo .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2){
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu{
    position:fixed;
    right: -100%;
    top: 70px;
    width:100%;
    height: 100%;
    flex-direction: column;
    background:var(--white);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo{
    right:0;
  }
  .nav-item{
    margin: 16px 0;
  }

  /* Main */
  .home{
    padding:100px 2%;
    flex-direction: column;
    overflow: hidden;
    gap:5rem;
    text-align: center;
  }
  .home .text-h4{
    font-size: 15px;
  }
  .home .text-h1{
    font-size: 2.5rem;
    line-height: 3rem;;
  }
  .home p{
    font-size: 15px;
  }
  .home-img{
    width:125%;
  }

}